* {
    margin:0px;
}
body{
    background: white;
    background-image: radial-gradient(rgb(185, 185, 185) 1px, transparent 0);
    background-size: 30px 30px;
    background-position: -19px -19px;
}
main{
    background-color: white;
    min-width: 50%;
    width:50vw;
    margin:30px auto;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    font-family:  "Noto Sans Mono",monospace;
    box-shadow: 0px 1px 2px 0px gray;
    
}

disclaimer{
    min-width: 50%;
    width:50vw;
    margin:10px auto;
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    font-family:  "Noto Sans Mono",monospace;
    font-size: 0.7rem;
    color: gray;
}

.top-bar{
    min-width: 50%;
    width:50vw;
    margin:10px auto;
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    font-family:  "Noto Sans Mono",monospace;
    font-size: 0.9rem;
    color: gray;
    text-align: center;

}

.dot{
    
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    position: relative;
    min-width: 15px;
    flex-shrink: 1;
}

@media (max-width: 768px) {
    .dot {
        height: 18px;
        width: 18px;
        margin: 0 3px;
    }
}

@media (max-width: 480px) {
    .dot {
        height: 12px;
        width: 12px;
        margin: 0 2px;
    }
}

.punch-hole {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex-wrap: nowrap; 
    overflow: hidden;
}


h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-top:30px;
    font-weight: 100;
}

ion-icon{
    color: gray;
}
.add-bar{
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color:rgb(244, 244, 244);
    height:40px;
    border-radius:5px;
}
#check-all-button{
    cursor: pointer;
}
#new-task{
    border:none;
    background-color: inherit;
    flex-grow:2;
    padding:5px;
    font-size: 1rem;
    width:70%;
}
input:focus, textarea:focus, select:focus{
    outline:none;
  
}

input::placeholder{
    color: gray;
    font-family:  "Noto Sans Mono",monospace;
}

.menu-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding:5px 0;
   
}
#check-all-button{
    display:flex;
    align-items: center;
}
#clearComplete{
    cursor: pointer;
}
.tasks-container{
    display:flex;
    flex-direction: column;
    overflow: hidden;
}

.task-card{
    display:flex;
    justify-content: space-between;
    margin:10px 0px;
    align-items: center;
    transition: transform 0.5s ease-out;
}
.delete{
    align-self:end;
    visibility: hidden;
}


.delete-card{
    transform:translateX(100%);
}
.status-icon{
    border:1px solid black;
    width:15px;
    height:15px;
    border-radius:50%;
    margin:5px;
}

.not-started div{
    background-color:#cbcbcb;
}
.Completed div{
    background-color:#000000;
}
.In-progress div{
    background-color:#858585;
}

.task-text{
    /* flex-grow:2; */
    width: 50%;
}
.task-status{
    margin:auto;
    font-size:0.7rem;
    /* color:#fc5753; */
    font-family: "Noto Sans Mono",monospace;
}
.footer{
    display:flex;
    justify-content: space-between;
    margin:5px 0;
}
.task-count{
    display:flex;
    
}

.filter{
    display: flex;
    justify-content: space-between;
    font-size:0.8rem;
    color:gray;
    /* letter-spacing: 0.0001rem;     */
}
.filter-button{
    margin:0 4px;
    cursor: pointer;
}
/*Other classes*/
.mg-10{
    margin:10px;
}
.fs-xlarge{
    font-size:1.5rem;
}
.fs-large{
    font-size:1.2rem;
}
.fs-med{
font-size: 0.7rem;

}

.bold{
    font-weight: 600;
}
.color-red{
    color:#cbcbcb;;
}
.color-green{
    color:000000;
}
.color-blue{
    color:#858585
}
@media screen and (max-width:700px){
	main{
        width:80vw;
    }
}

footer{
    min-width: 50%;
    width:50vw;
    margin:10px auto;
    padding:10px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    font-family:  "Noto Sans Mono",monospace;
    font-size: 0.7rem;
    color: gray;
    text-align: center;
}